<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <strong>Editing Post <%= @post.title %></strong>
    </div>
  </div>
  <div class="panel-body">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-6">
        <%= link_to 'Back', @post %>
      </div>
      <div class="col-md-6 text-right">
        <%=	 @post.created_at.strftime("%d %B %Y") %>
      </div>
    </div>
  </div>
</div>